<section class="js-reminder reminder{{#if reminder.isEnabled}}{{else}} is-disabled{{/if}}">
	<svg width="250px" height="430px" viewBox="0 0 250 430">
        <path class="js-reminder-path reminder__caption"
			  d="M0,0v332c34.1,30,77.6,48,125,48s90.9-18,125-48V0H0L0,0"/>
        <path class="js-reminder-path-hidden reminder__caption is-hidden"
			  d="M0,0v187.9c34.1,12.2,77.6-18.9,125-18.9s90.9,31.1,125,18.9V0H0z"/>
    </svg>
	<div class="reminder__options">
		<div class="reminder__title">{{reminder.title}}</div>
		<div class="reminder__interval">{{reminder.interval}}m</div>
		<div class="reminder__message">{{reminder.message}}</div>
	</div>
	<div class="reminder__options reminder__settings">
		<div>
			<button class="js-reminder-button-edit reminder__button">Edit</button>
		</div>
		<div>
			<button class="js-reminder-button-toggle reminder__button"
					data-reminder-alias="{{alias}}">
				{{#if reminder.isEnabled}}
					Disable
				{{else}}
					Enable
				{{/if}}
			</button>
		</div>
	</div>
</section>